sites/*/settings*.php
sites/*/services*.yml
sites/*/files
sites/*/private

sites/simpletest

web.config

# robots.txt

/README.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
